body {
box-sizing: border-box;
display: center;
font-family: 'Bangers', cursive;
background:
-webkit-linear-gradient(rgba(28, 28, 31, 0.1), rgba(28, 28, 31, 0.8)),
	-webkit-linear-gradient(rgba(28, 28, 31, 0.5), rgba(28, 28, 31, 0.3)),
	url('../workitout/images/pexels-photo-305239.jpeg');
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
		opacity: 0.6;
		margin-bottom: 150px;
	}
	.nav-bar {
		display: block;
		background-color: wheat;
		position: absolute;
		top: 10px;
		left: 0px;
		right: 0px;
		height: 60px;
	}

	.navbar-link {
		position: absolute;
		right: 30px;
		top: 20px;
		color: black;
		decoration: none;
	}


	main {
background: wheat;
margin: 100px;
border-style: double;
}



.container {
  display: inline;
	background: wheat;
	margin: 100px;
	font-size: 20px;
  text-align: center;
  font-family: 'Bangers', cursive;
  margin-top: 50px;
}

.search-form {
display: inline;

}



.resultsTitle{
  display:block;
  text-align: center;
  font-size: 10px;
  font-family: 'Bangers', cursive;
  margin-top: 50px;
}


.results  {
	display: block;
  font-size:15px;
  font-family: 'Bangers', cursive;
  text-align: center;
	top: 30px;
	bottom: 50px;
}






/*Buttons Styling*/
.search {
	margin: auto;
	border-style: groove;
	background-color: tan;
	margin-bottom: 50px;
}


.randomize{
display: flex;
margin: auto;
border-style: groove;
background-color: tan;
margin-bottom: 10px;
}

/*MEDIA QUERIES */



@media screen and (max-width: 750px) {
.results iframe {
	width: 65%;
	align: middle;

	}
}

@media screen and (max-width: 480px) {
.container {
	width: 50%;
	align: middle;
}
	.results iframe {
		width: 33%

	}
}
